<!doctype html>

<html>

<head>
  <title>{{site.coursename}}: {{page.title}}</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/style.css">
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/syntax.css">
  <script type="text/javascript" src="{{site.baseurl}}/js/page.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>

<body>
  <div id="content">
    <div id="navbar_container">
      <ul id="navbar">
        <li><span class="style"> Machine Learning Final Project </span></li>
        <li id="navbar_home"><a href="{{site.baseurl}}/index.html">Home</a></li>
        <li id="navbar_resources"><a href="{{site.baseurl}}/references.html">References</a></li>
        <li id="navbar_credit"><a href="{{site.baseurl}}/credits.html">Credits</a></li>
      </ul>
    </div>

    <hr id="headerSep">

    <div id="pageTitle">{{page.title}}</div>

    {{content}}

    <div id="footer"></div>

    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function() {
        page.pageCategory = "{{page.category}}";
        page.onLoad();
      });
    </script>
  </div>
</body>

</html>
